<% if obj.errors.any? %>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='alert alert-danger'>
        <div class='alert-heading'>
          <h2 class='alert-title'>
            <%= pluralize(obj.errors.count, 'error')%> 
            prevented the article from being saved:
          </h2>
          <div class='alert-body'>
            <ul>
              <% obj.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>