<h1 align='center'>Listing all Categories</h1>
<div align='center'>
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <ul class='listing'>
      <div class='row'>
        <div class='col-md-4 offset-md-4'>
          <div class='card' style="margin-bottom: 2rem;">
            <div class="card-body">
              <li class='article-title'>
                <%= link_to category.name, category_path(category) %>
              </li>
              <li>
                <small><%= pluralize(category.articles.count, "article") %></small>
              </li>
              <% if logged_in? && current_user.admin? %>
                <li>
                  <%= link_to 'Delete this category', category_path(category), class: 'btn btn-sm btn-danger' , turbo_method: :delete, data: {turbo_confirm: "Are you sure?" } %>
                </li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </ul>
  <% end %>
</div>
